
params.batch = "none"
params.input = "$projectDir/input/$params.batch"
params.output = "$projectDir/output/$params.batch"

params.envs = "$projectDir/condaCache/"
params.bin = "$projectDir/bin/"
params.amrfinder_db = "/well/bag/crt725/condaCache/amrfinder/share/amrfinderplus/data/2022-12-19.1/"
params.kraken_db = "/well/bag/crt725/agnostic_diagnostic/databases/k2_minusb"
params.kaiju_db = "/well/bag/crt725/agnostic_diagnostic/databases/kaiju_db"
params.refs = "$projectDir/references"
params.meta_ref=["${params.refs}/meta_ref.fasta"]
params.masks="${params.refs}/masks.csv"
params.meta_pathogens="$projectDir/thresholds/pathogens.csv"
params.pathogens_reduced="$projectDir/thresholds/pathogen_reduced.csv"
params.multi_segment_pathogens="$projectDir/thresholds/multisegment_pathogens.csv"

params.test_rmd="${params.bin}/test.Rmd"

params.kraken_db = "//well/bag/users/vbr851/dbs/kraken2/k2_standard_20230605"

// For the classification workflow, use viral for test because it's smaller
//params.kraken2db='/well/bag/users/vbr851/dbs/kraken2/k2_standard_20230605'
params.kraken2db='/well/bag/users/vbr851/dbs/kraken2/k2_viral_20231009'

params.min_depth=5

// RV test parameters
params.RV_input = "$projectDir/input/RV_test"
params.RV_ref=["${projectDir}/RV_refs/${params.batch}.fasta"]

//Flu test
params.FluB_ref=["//well/bag/users/vbr851/projects/agnostic_diagnostic_v2/FluB_test/fastas/Influenza_B_virus.fasta"]

// Corona test
params.corona_input = "$projectDir/virus_tests/corona_test/input"
params.corona_ref=["//well/bag/users/vbr851/projects/agnostic_diagnostic_v2/virus_tests/corona_test/refs/${params.batch}.fasta"]
params.corona_output = "$projectDir/output/virus_tests/corona_test/output/$params.batch"

conda
{
    enabled = true
    useMamba = true
    cacheDir = "/well/bag/crt725/condaCache"
}

/* 
profiles {

    standard {
        executor {
            name = 'slurm'
            queueSize = 100
            queue = 'short'
        }

        process.executor = 'slurm'
        process.errorStrategy = 'ignore'
    }

    local {
        process.executor = 'local'
        cpus = 30
    }
}
*/

profiles {

    	bmrc {
            process.executor = 'slurm'
            process.queue = 'short'
            process.nodelist = 'compa[045-047],compe[095-101]'
            process {
                withLabel: 'online' {
                    executor = 'local'
                }
            }
        }
}

